.top {
    position: relative;
    top: 0px;
    width: 100%;
    min-height: 120px;
}

body {
    margin: 0px;
}

.topleft {
    background-image: url(../img/ramka1_01.gif);
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
}


.topmiddle {
    background-image: url(../img/ramka1_02.gif);
    height: 120px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
    left: 120px;
    top: 0px;
}

.topright {
    background-image: url(../img/ramka1_03.gif);
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 0px;
}

.bottom {
    position: relative;
    bottom: 0px;
    width: 100%;
    min-height: 120px;
}

.bottomleft {
    background-image: url(../img/ramka1_07.gif);
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.bottommiddle {
    background-image: url(../img/ramka1_08.gif);
    height: 120px;
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
    left: 120px;
    bottom: 0px;
}

.bottomright {
    background-image: url(../img/ramka1_09.gif);
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.middle {
    position: relative;
    min-height: 200px;
    max-height: 100%;
}

.rightmiddle {
    background-image: url(../img/ramka1_06.gif);
    width: 120px;
    background-repeat: repeat-y;
    height: 100%;
    position: absolute;
    right: 0px;
}

.leftmiddle {
    background-image: url(../img/ramka1_04.gif);
    width: 120px;
    background-repeat: repeat-y;
    height: 100%;
    left: 0px;
    position: absolute;
}
