.rowfirst {
    top: 0px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    left: 0px;
}

.rowsecond {
    top: 50px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.rowthird {
    top: 100px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.rowfourth {
    top: 150px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.rowfifth {
    top: 200px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.rowsixth {
    top: 250px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.rowseventh {
    top: 300px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.roweight {
    top: 350px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.rowninth {
    top: 400px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.rowten {
    top: 450px;
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin-left: 0px;
}

.celltext {
    text-align: center;
    font-size: 40px;
    padding-top: 1px;
}


.blackfigure {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-y: 1px;
}

.whitefigure {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-y: -51px;
}

.rook {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-x: -102px;

}

.knight {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-x: -210px;

}

.bishop {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-x: -154px;

}

.queen {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-x: -48px;

}

.king {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-x: 3px;

}

.pawn {
    background-image: url(../img/chess.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-position-x: -263px;
}


body {
    margin-left: 0px;
}

.columnfirst {
    left: 0px;

}

.columnsecond {
    left: 50px;

}

.columnthird {
    left: 100px;

}

.columnthird {
    left: 100px;

}

.columnfourth {
    left: 150px;

}

.columnfifth {
    left: 200px;

}

.columnsixth {
    left: 250px;

}

.columnseventh {
    left: 300px;

}

.columneight {
    left: 350px;

}

.columnninth {
    left: 400px;

}

.columnten {
    left: 450px;

}





.black {
    background-color: gray;
    width: 48px;
    height: 48px;
    position: relative;
    left: 1px;
    top: 1px;
}

.no-borders {
    border: 1px solid white;
}
